USE [master]
GO
/****** Object:  Database [HRHiringTool]    Script Date: 06/10/2011 16:29:55 ******/
CREATE DATABASE [HRHiringTool] ON  PRIMARY 
( NAME = N'HRHiringTool', FILENAME = N'c:\Program Files\Microsoft SQL Server\MSSQL10_50.MSSQLSERVER\MSSQL\DATA\HRHiringTool.mdf' , SIZE = 2048KB , MAXSIZE = UNLIMITED, FILEGROWTH = 1024KB )
 LOG ON 
( NAME = N'HRHiringTool_log', FILENAME = N'c:\Program Files\Microsoft SQL Server\MSSQL10_50.MSSQLSERVER\MSSQL\DATA\HRHiringTool_log.ldf' , SIZE = 1024KB , MAXSIZE = 2048GB , FILEGROWTH = 10%)
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [HRHiringTool].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [HRHiringTool]
GO
/****** Object:  Table [dbo].[Rol]    Script Date: 06/10/2011 16:29:56 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Rol](
	[ID_Rol] [bigint] NOT NULL,
	[Nombre] [nvarchar](50) NOT NULL,
	[Descripcion] [nvarchar](255) NULL,
 CONSTRAINT [PK_Rol] PRIMARY KEY CLUSTERED 
(
	[ID_Rol] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Notas]    Script Date: 06/10/2011 16:29:56 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[Notas](
	[ID_Nota] [bigint] NOT NULL,
	[ID_Candidato] [bigint] NOT NULL,
	[ID_Usuario] [bigint] NOT NULL,
	[Nota] [varchar](255) NULL,
	[FechaHora] [datetime] NOT NULL,
 CONSTRAINT [PK_Notas] PRIMARY KEY CLUSTERED 
(
	[ID_Nota] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[DocumentosCandidato]    Script Date: 06/10/2011 16:29:56 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[DocumentosCandidato](
	[ID_DocsCandidato] [bigint] NOT NULL,
	[ID_Candidato] [bigint] NOT NULL,
	[ID_Documento] [bigint] NOT NULL,
	[FechaActualizacion] [datetime] NULL,
	[ID_Usuario] [bigint] NOT NULL,
 CONSTRAINT [PK_DocumentosCandidato] PRIMARY KEY CLUSTERED 
(
	[ID_DocsCandidato] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Candidato]    Script Date: 06/10/2011 16:29:56 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[Candidato](
	[ID_Candidato] [bigint] NOT NULL,
	[Nombre] [char](100) NOT NULL,
	[Apellido] [char](100) NOT NULL,
	[Apellido2] [char](100) NULL,
	[ExpectativaSalarial] [decimal](10, 2) NULL,
	[Foto] [image] NULL,
	[Correo] [varchar](100) NULL,
	[Direccion] [varchar](255) NULL,
	[Estado] [char](10) NULL,
	[ID_PuestoVacante] [bigint] NOT NULL,
 CONSTRAINT [PK_Candidato] PRIMARY KEY CLUSTERED 
(
	[ID_Candidato] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[Usuario]    Script Date: 06/10/2011 16:29:56 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[Usuario](
	[ID_Usuario] [bigint] NOT NULL,
	[Nombre] [char](30) NOT NULL,
	[Apellido] [char](30) NULL,
	[Contrasena] [varchar](30) NULL,
	[Estado] [char](10) NULL,
 CONSTRAINT [PK_Usuario] PRIMARY KEY CLUSTERED 
(
	[ID_Usuario] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[RolesUsuario]    Script Date: 06/10/2011 16:29:56 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[RolesUsuario](
	[ID_RolesUsuario] [bigint] NOT NULL,
	[ID_Usuario] [bigint] NOT NULL,
	[ID_Rol] [bigint] NOT NULL,
 CONSTRAINT [PK_RolesUsuario] PRIMARY KEY CLUSTERED 
(
	[ID_RolesUsuario] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  ForeignKey [FK_RolesUsuario_Rol]    Script Date: 06/10/2011 16:29:56 ******/
ALTER TABLE [dbo].[RolesUsuario]  WITH CHECK ADD  CONSTRAINT [FK_RolesUsuario_Rol] FOREIGN KEY([ID_Rol])
REFERENCES [dbo].[Rol] ([ID_Rol])
GO
ALTER TABLE [dbo].[RolesUsuario] CHECK CONSTRAINT [FK_RolesUsuario_Rol]
GO
/****** Object:  ForeignKey [FK_RolesUsuario_Usuario]    Script Date: 06/10/2011 16:29:56 ******/
ALTER TABLE [dbo].[RolesUsuario]  WITH CHECK ADD  CONSTRAINT [FK_RolesUsuario_Usuario] FOREIGN KEY([ID_Usuario])
REFERENCES [dbo].[Usuario] ([ID_Usuario])
GO
ALTER TABLE [dbo].[RolesUsuario] CHECK CONSTRAINT [FK_RolesUsuario_Usuario]
GO
